<article class="container__big-card">
  <img
    class="big-card__photo"
    src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    alt="Descrição da imagem"
  />
  <h1 class="big-card__title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h1>
  <p class="big-card__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
    ullam libero consequatur a, itaque cupiditate voluptatibus iusto molestiae
    dolorum ipsa blanditiis recusandae. Quibusdam eos est debitis. Distinctio
    nobis consequuntur praesentium.
  </p>
</article>
