.container__big-card {
  margin-right: 1.5rem;
}

.big-card__photo {
  width: 100%;
  margin-bottom: 1rem;
}

.big-card__title {
  font-family: "Poppins";
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.big-card__description {
  color: #6d6d6d;
}

@media screen and (max-width: 576px) {
  .container__big-card {
    margin-right: 0;
  }
}
