.container__menu-title {
  border-top: 0.094rem solid #202020;
  border-bottom: 0.094rem solid #202020;
  margin-bottom: 2rem;
}

.container__menu-title > h1 {
  display: flex;
  justify-content: center;

  font-size: 15vw;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
