.container__content {
  width: 100%;
}

.content__cover {
  width: 50%;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  float: left;
}

.content__photo {
  width: 100%;
  margin-bottom: 1rem;
}

.content__title {
  font-family: "Poppins";
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.content__description > p {
  color: #6d6d6d;
}

.content__button-home {
  margin-right: 1rem;
  line-height: 2.5rem;

  border-bottom: 0.1rem solid #202020;
  padding: 0.5rem;
}

.content__button-home:hover {
  outline-offset: 0;
  border-bottom: 0.09rem solid #6d6d6d;
}

@media screen and (max-width: 576px) {
  .container__content {
    margin-right: 0;
  }
}
