.container__articles {
  display: flex;
  margin-top: 2rem;
}

.articles__others {
  display: flex;
  flex-direction: column;
}

.articles__main,
.articles__others {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .container__articles {
    display: block;
  }

  .articles__main,
  .articles__others {
    width: 100%;
  }

  .articles__main {
    margin-bottom: 2rem;
    border-bottom: 0.094rem solid #202020;
    margin-bottom: 2rem;

    padding-bottom: 2rem;
  }
}
